<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><%= link_to "Domů", root_path %> <span class="mx-2 mb-0">/</span> <strong class="text-black">Košík</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
<div class="container">
<div class="row mb-5">
  <form class="col-md-12" method="post">
    <div class="site-blocks-table">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="product-thumbnail">Náhled</th>
            <th class="product-name">Produkt</th>
            <th class="product-price">Cena</th>
            <th class="product-quantity">Počet kusů</th>
            <th class="product-total">Celkem</th>
            <th class="product-remove">Odstranit</th>
          </tr>
        </thead>
        <tbody>
          <% @order_items.each do |item| %>
            <tr id="item-<%= item.id %>">
              <td class="product-thumbnail">
                <%= image_tag(item.product.image, class: "img-fluid") %>
              </td>
              <td class="product-name">
                <h2 class="h5 text-black"><%= item.product.name %></h2>
              </td>
              <td><%= number_to_currency(item.product.price / 100.0) %></td>
              <td>
                <div class="input-group mb-3" style="max-width: 120px;">
                  <div class="input-group-prepend">
                    <%= link_to "-", cart_remove_path(product_id: item.product.id), remote: true, method: :post, class: "btn btn-outline-primary js-btn-minus" %>
                  </div>

                  <input type="text" class="form-control text-center" value="<%= item.quantity %>" readonly>

                  <div class="input-group-append">
                    <%= link_to "+", cart_add_path(product_id: item.product.id), remote: true, method: :post, class: "btn btn-outline-primary js-btn-plus" %>
                  </div>
                </div>
              </td>
              <td><%= number_to_currency(item.total_price / 100.0) %></td>
              <td><%= link_to "X", cart_drop_item_path(id: item.id), method: :delete, remote: true, "data-cart-remove": true, "data-cart-remote-id": "#item-#{item.id}", class: "btn btn-primary btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row mb-5">
    </div>
    <div class="row">
    </div>
  </div>
  <div class="col-md-6 pl-5">
    <div class="row justify-content-end">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 text-right border-bottom mb-5">
            <h3 class="text-black h4 text-uppercase">Celkem</h3>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">Cena</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black"><%= number_to_currency(@total_price / 100.0) %></strong>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">DPH 21%</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black"><%= number_to_currency(@vat / 100.0) %></strong>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">Celkem</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black"><%= number_to_currency(@total_price_including_vat / 100.0) %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
